127.0.0.1	localhost


# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
{{master1_ip}} {{master1}}
{{master2_ip}} {{master2}}
{{master3_ip}} {{master3}}
{{node1_ip}} {{node1}}
{{node2_ip}} {{node2}}
{{lb01_ip}} {{lb01}}
{{lb02_ip}} {{lb02}}
{{client_ip}} {{client}}
